* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #43658b;
  color: white;
  font-family: "Poppins", sans-serif;
}

input {
  border: none;
  border-radius: 5px;
  /* font-size: 1.2rem; */
  line-height: 1.5;
  padding: 10px 15px;
  background-color: transparent;
  color: white;
}
